<!-- Baidu Customised Search -->
<div style="position:fixed;right:0px;" id="baidu_search">
<form action="https://www.baidu.com/s" target="_blank" method="get" id="cse-search-box">
  <div>
    <input type="text" size="20" name="origin" class="searchbox" id="sbi" value="">
    <input type="hidden" name="wd" value="">
	<input style="position:fixed;right:6px;top:66px;" type="image" src="/images/search.svg" class="searchbox_submit" value="" alt="搜索" name="sa" onclick="this.form.wd.value = this.form.origin.value + ' site:mistydew.github.io'">
  </div>
</form>
</div>
