<div id="app"></div>
<!-- 加载 cplayer 脚本 -->
<script src="/js/cPlayer/dist/cplayer.js"></script>
<script>
  let player = new cplayer({
    element: document.getElementById('app'),
    playlist: [
      {
        src: 'https://raw.githubusercontent.com/mistydew/gc2/master/audio/%E9%9D%99%E5%AF%82%E3%81%AEconcerto.mp3',
        poster: 'https://raw.githubusercontent.com/mistydew/gc2/master/cover/album/Album_09th_%E3%83%A1%E3%83%A2%E3%83%AA%E3%83%BC%E3%82%BA.jpg',
        name: '静寂のconcerto',
        artist: 'GARNET CROW',
        lyric: '[00:00.00]静寂のconcerto\n[00:21.90]太陽が色彩(いろ)を連れて\n[00:26.50]この町を照らしはじめる\n[00:31.80]こんなに静かで深い朝がここにもある\n[00:42.70]バスが来る 待合人 共に暮らしがあるような\n[00:52.60]やさしい時間(とき) 流れる日々がこの地球(ほし)にある\n[01:03.40]追い越した景色の中にあるリズムは\n[01:12.70]いつからかそっと体中を支配してく forever\n[01:28.90]氷上を舞う水鳥達\n[01:34.30]アランフェスの調べ\n[01:39.30]踊る心の情熱が生きた証\n[02:11.30]空をゆく乾いた風この土地を離れることなく\n[02:21.30]生きた人々の想いに敵うものなどない\n[02:32.10]想像の中にある幸福への願いに\n[02:41.10]揺さぶられる きっと想うことのつながりに forever\n[02:57.60]六弦響く宵闇にはからみつくような鼓動\n[03:08.00]時にしなやかな生命打ち砕くように\n[03:18.50]祈り 踊る 命はまだかきたてる術がある\n[03:28.90]すべてに息づく躍動と静寂の concerto',
        sublyric: '[00:00.00]寂靜的協奏曲\n[00:04.00]歌手：GARNET CROW\n[00:08.00]作詞：AZUKI 七\n[00:11.00]作曲：中村由利\n[00:14.00]編曲：古井弘人\n[00:17.00]ギター：岡本仁志\n[00:21.90]太陽帶著色彩\n[00:26.50]開始照亮這個城市\n[00:31.80]這裡也有如此安靜又深沉的早晨\n[00:42.70]公車駛來 相約的人們 仿佛一起生活著\n[00:52.60]溫和的時光 流逝的日子就存在于這顆星球\n[01:03.40]超越在前的景色中的旋律\n[01:12.70]不知什麼時候開始悄悄地支配了全身 forever\n[01:28.90]冰上飛舞的水鳥們\n[01:34.30]阿蘭胡埃斯的曲調\n[01:39.30]躍動的心中的熱情是活過的證明\n[02:11.30]拂過上空的乾燥的風從未離開過這片土地\n[02:21.30]沒有什麼可以與曾經活著的人們的想法匹敵\n[02:32.10]祈願到達想像中的幸福\n[02:41.10]搖曳著 一定會達成心願 forever\n[02:57.60]六絃琴迴響的黃昏有著纏繞般的鼓動\n[03:08.00]時而仿佛要摧毀柔弱的生命\n[03:18.50]祈禱著 舞動著 有能力來書寫生命的樂章\n[03:28.90]存在於萬物之中的躍動和寂靜的 concerto',
        album: 'メモリーズ'
      },
      {
        src: 'https://raw.githubusercontent.com/mistydew/gc2/master/audio/Holy%20ground.mp3',
        poster: 'https://raw.githubusercontent.com/mistydew/gc2/master/cover/album/Album_02nd_SPARKLE_~%E7%AD%8B%E6%9B%B8%E3%81%8D%E9%80%9A%E3%82%8A%E3%81%AE%E3%82%B9%E3%82%AB%E3%82%A4%E3%83%96%E3%83%AB%E3%83%BC~.jpg',
        name: 'Holy ground',
        artist: 'GARNET CROW',
        lyric: '[00:15.94]君のいない未来が\n[00:18.78]ただ大きな闇にみえ\n[00:21.88]死んでしまえば生きなくていい\n[00:26.84]そんな事ばかり考えてた\n[00:33.47]穏やかな月明かりに\n[00:39.84]体中を充たした こんな強い気持ちに\n[00:45.75]出会えたから もう何もいらない\n[00:50.49]欲しがる術 なくしても今\n[00:56.62]生き延びるの?\n[01:04.89]通り過ぎた幸福な時が\n[01:09.78]今をただ無意味に変える\n[01:16.80]病んだ躰が\n[01:19.90]昨日までの健康(しあわせ)を喜ぶなんてことしない\n[01:28.00]ただ焦がれるように求めてた\n[01:33.15]日々は するり 蜃気楼の向こうへ\n[01:38.86]今日が終われば今日へ\n[01:42.50]出遭うことない夢をみては\n[01:45.47]まだ過ごすなら\n[01:51.99]与え続けることでしか満たされない\n[01:59.90]聖地へ辿り着こう\n[02:04.80]行き場をなくした情熱は\n[02:09.15]冷えてゆくよ\n[02:24.72]不確かな気持ちを抱えながら\n[02:29.32]家路を辿りながら昇華してゆく\n[02:35.60]守るべきもの持たないなら\n[02:39.72]何を祈ろうか\n[02:49.27]世界が優しい光にいつか包まれますように…\n[03:01.32]なんて偽善者みたいな願い声にして\n[03:07.70]本当に変わればいい\n[03:12.54]深い傷よりも いつの日にか\n[03:17.73]愛しい気持ちが残るように\n[03:23.41]明日がくればまた明日へ\n[03:27.60]優しい方へ倒れ込んでゆけるように…\n[03:36.42]いつかその足で歩いてゆける時がきたら\n[03:43.79]聖地へ辿り着ける?\n[03:49.70]行き場をなくしたココロは\n[03:55.79]いつか目覚めて\n[03:58.21]揺れ動く波にのって\n[04:11.69]きっと生まれるよ',
        sublyric: '[00:15.94]沒有你的未來\n[00:18.78]衹能看到一片黑暗\n[00:21.88]如果能夠死掉而不是活著就好了\n[00:26.84]總是想著這樣的事情\n[00:33.47]在溫和的月光下\n[00:39.84]如此强烈的情感 充滿著全身\n[00:45.75]從遇見你開始 什麽也不再需要了\n[00:50.49]儘管現在沒有了欲望\n[00:56.62]還是可以活下去嗎？\n[01:04.89]逝去的幸福的時光\n[01:09.78]現在變得衹是毫無意義\n[01:16.80]病んだ躰が\n[01:19.90]不會對昨天的健康而感到喜悅\n[01:28.00]衹是我渴望似的請求的\n[01:33.15]時光 順著 流向海市蜃樓的另一邊\n[01:38.86]今天結束的話又是今天\n[01:42.50]如果做的是沒有遇到你的夢\n[01:45.47]那麽還可以安穩度日吧\n[01:51.99]只有繼續給予才能被填補\n[01:59.90]一起到達神聖的地方\n[02:04.80]無處可去的熱情\n[02:09.15]是會變冷的哦\n[02:24.72]懷著不確定的心情\n[02:29.32]在歸路上漸漸昇華\n[02:35.60]如果沒有必須守護的東西\n[02:39.72]又祈禱什麼呢\n[02:49.27]願世界有一天會被溫柔的光所包圍...\n[03:01.32]說出所謂偽善者一樣的願望\n[03:07.70]如果變成真的就好了\n[03:12.54]比起很深的傷痕 在某一天會消失吧\n[03:17.73]像是殘留著愛的感覺\n[03:23.41]明天來臨的話還是明天\n[03:27.60]好像要倒進溫柔的地方...\n[03:36.42]倘若有朝一日那一刻來臨\n[03:43.79]能夠抵達神聖的地方嗎？\n[03:49.70]無處可去的內心\n[03:55.79]總有一天會醒來\n[03:58.21]隨著搖曳的波瀾\n[04:11.69]一定會重生的',
        album: 'SPARKLE ~筋書き通りのスカイブルー~'
      },
      {
        src: 'https://raw.githubusercontent.com/mistydew/gc2/master/audio/Over%20Drive.mp3',
        poster: 'https://raw.githubusercontent.com/mistydew/gc2/master/cover/album/Album_08th_parallel_universe.jpg',
        name: 'Over Drive',
        artist: 'GARNET CROW',
        lyric: '[00:01.23]Over Drive - GARNET CROW\n[00:02.54]詞：AZUKI七\n[00:03.53]曲：中村由利\n[00:24.53]風の音だけが\n[00:29.52]体中を包む\n[00:34.27]サイレント　Kiss\n[00:40.38]夢に似た気配\n[00:44.89]胸がキュッとなること\n[00:48.84]君といた季節\n[00:52.41]スカイハイ　Blue\n[00:56.15]遠ざかる\n[01:00.46]都合いい Happy End\n[01:04.14]さがしても癒せない\n[01:07.12]心が自由なら飛んでみせる\n[01:14.67][03:18.80]上空 舞うもの達と Over Drive\n[01:19.34][03:23.28]どこまでも青い世界にいたい\n[01:24.01][03:28.26]紙吹雪のように鳥が舞う\n[01:29.34][03:33.44]キレイね\n[01:31.73][03:35.71]追い風に乗るスリルも\n[01:35.86][03:39.86]まだ見ぬ行き先を想う\n[01:39.60][03:43.65]大切な期待に変えてゆける\n[01:44.55][03:48.53]raise up\n[02:01.09]波がキラめいたら\n[02:04.90]吸い込まれそうね\n[02:08.29]スターライト　Night\n[02:12.11]空高く\n[02:16.44]近づいた last scene\n[02:20.16]まだ今つかめない\n[02:23.15]不確かな未来さえ心地よく\n[02:30.69]上昇 恋は揺らいで Over Drive\n[02:35.35]目を見て無邪気に笑ってみせて\n[02:40.22]まるで風のようにすり抜ける\n[02:45.33]心ね\n[02:47.39]もっと近くにいたいと\n[02:51.93]願う空は 果てしなくて\n[02:55.57][03:51.59]本当の君に出会う日を\n[03:00.56][03:56.66]待ってる',
        sublyric: '[00:01.23]Over Drive - GARNET CROW\n[00:02.54]詞：AZUKI七\n[00:03.53]曲：中村由利\n[00:24.53]衹有風的聲音\n[00:29.52]包裹著全身\n[00:34.27]Oh Silent Kiss Oh yeah\n[00:40.38]好像夢一樣的感覺\n[00:44.89]心中變得忐忑不安\n[00:48.84]和你在一起的季節\n[00:52.41]Sky High Blue Oh yeah\n[00:56.15]漸行漸遠\n[01:00.46]美好的結局\n[01:04.14]即便尋找的到也無法治愈\n[01:07.12]心若自由定會飛翔\n[01:14.67][03:18.80]與凌空飛舞的它們 Over Drive\n[01:19.34][03:23.28]不管到哪裏都想留在藍色的世界\n[01:24.01][03:28.26]鳥兒像雪花紙屑般飛舞\n[01:29.34][03:33.44]真美啊\n[01:31.73][03:35.71]乘上風尾的不安\n[01:35.86][03:39.86]想著尚未知曉的前路\n[01:39.60][03:43.65]化爲珍貴的期待\n[01:44.55][03:48.53]raise up\n[02:01.09]波光粼粼\n[02:04.90]仿佛要被吸入其中\n[02:08.29]Star light Night\n[02:12.11]晴空高遠\n[02:16.44]已經接近了 last scene\n[02:20.16]現在依然無法抓住\n[02:23.15]縱使不確定的未來也甘之如飴\n[02:30.69]上升 戀情搖擺不定 Over Drive\n[02:35.35]四目相對天真無邪的笑著\n[02:40.22]簡直就像風拂過心靈\n[02:47.39]想要離你更近些\n[02:51.93]向着無垠的天空祈禱著\n[02:55.57][03:51.59]我會等待與真正的你相遇的那一天',
        album: 'parallel universe'
      },
      {
        src: 'https://raw.githubusercontent.com/mistydew/gc2/master/audio/Hello%20Sadness.mp3',
        poster: 'https://raw.githubusercontent.com/mistydew/gc2/master/cover/album/Album_07th_STAY_~%E5%A4%9C%E6%98%8E%E3%81%91%E3%81%AESoul~.jpg',
        name: 'Hello Sadness',
        artist: 'GARNET CROW',
        lyric: '',
        sublyric: '',
        album: 'STAY ~夜明けのSoul~'
      }
    ]
  })
</script>
