<div id="app"></div>
<!-- 加载 cplayer 脚本 -->
<script src="js/cPlayer/dist/cplayer.js"></script>
<script>
  let player = new cplayer({
    element: document.getElementById('app'),
    playlist: [
      {
        src: 'https://raw.githubusercontent.com/mistydew/gc2/master/%E9%9D%99%E5%AF%82%E3%81%AEconcerto.mp3',
        poster: 'https://raw.githubusercontent.com/mistydew/gc/master/images/cover/album/Album_09th_%E3%83%A1%E3%83%A2%E3%83%AA%E3%83%BC%E3%82%BA.jpg',
        name: '静寂のconcerto',
        artist: 'GARNET CROW',
        lyric: '[00:22.31]太陽が色彩(いろ)を連れて\n[00:27.05]この町を照らしはじめる\n[00:32.15]こんなに静かで深い朝がここにもある\n[00:43.20]バスが来る 待合人 共に暮らしがあるような\n[00:53.15]やさしい時間(とき) 流れる日々がこの地球(ほし)にある\n[01:03.59]追い越した景色の中にあるリズムは\n[01:13.28]いつからかそっと体中を支配してく forever\n[01:29.34]氷上を舞う水鳥達\n[01:35.04]アランフェスの調べ\n[01:40.02]踊る心の情熱が生きた証\n[02:11.68]空をゆく乾いた風この土地を離れることなく\n[02:21.69]生きた人々の想いに敵うものなどない\n[02:32.38]想像の中にある幸福への願いに\n[02:41.86]揺さぶられる きっと想うことのつながりに forever\n[02:57.85]六弦響く宵闇にはからみつくような鼓動\n[03:08.30]時にしなやかな生命打ち砕くように\n[03:19.26]祈り 踊る 命はまだかきたてる術がある\n[03:29.17]すべてに息づく躍動と静寂の concerto',
        sublyric: '[00:22.31]太陽帶著色彩\n[00:27.05]開始照亮這個城市\n[00:32.15]這裡也有如此安靜又深沉的早晨\n[00:43.20]公車駛來 相約的人們 仿佛一起生活著\n[00:53.15]溫和的時光 流逝的日子就存在于這顆星球\n[01:03.59]超越在前的景色中的旋律\n[01:13.28]不知什麼時候開始悄悄地支配了全身 forever\n[01:29.34]冰上飛舞的水鳥們\n[01:35.04]阿蘭胡埃斯的曲調\n[01:40.02]躍動的心中的熱情是活過的證明\n[02:11.68]拂過上空的乾燥的風從未離開過這片土地\n[02:21.69]沒有什麼可以與曾經活著的人們的想法匹敵\n[02:32.38]祈願到達想像中的幸福\n[02:41.86]搖曳著 一定會達成心願 forever\n[02:57.85]六絃琴迴響的黃昏有著纏繞般的鼓動\n[03:08.30]時而仿佛要摧毀柔弱的生命\n[03:19.26]祈禱著 舞動著 有能力來書寫生命的樂章\n[03:29.17]存在於萬物之中的躍動和寂靜的 concerto',
		album: 'メモリーズ'
      }
    ]
  })
</script>
