    <footer class="site-footer">
      <div class="wrapper">
        <h2 class="footer-heading"><a href="{{ site.quote }}">{{ site.quote }}</a></h2>
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              {% if site.github %}<li>{% include icon/github.html username=site.github %}</li>{% endif %}
              {% if site.email %}<li>{% include icon/envelope.html email=site.email %}</li>{% endif %}
            </ul>
          </div>
          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.crow %}<li>{% include icon/crow.html title=site.gc %}</li>{% endif %}
              {% if site.resume %}<li>{% include icon/terminal.html title=site.cv %}</li>{% endif %}
            </ul>
          </div>
          <div class="footer-col footer-col-3">
            <p>Welcome to the {% if page.url == "/" or page.url == site.about or page.url == site.booklog or page.url == site.quote %}{{ site.title }}{% else %}{{ site.subtitle }}{% endif %}! {{ site.description }} Copyright &copy;{{ site.time | date: " %Y " | append: site.root }}.</p>
          </div>
        </div>
      </div>
    </footer>