    <footer class="site-footer">
      <div class="wrapper">
        <h2 class="footer-heading"><a href="https://crowsub.github.io" title="深紅の鴉音楽日記" target="_blank">{% include icon/crow.svg %}</a><a href="{{ site.quotes }}">{{ site.quote }}</a></h2>
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              {% if site.root %}<li>{% include icon/github.html username=site.root %}</li>{% endif %}
              {% if site.email %}<li>{% include icon/envelope.html email=site.email %}</li>{% endif %}
            </ul>
          </div>
          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.about %}<li>{% include icon/info.html title="About" %}</li>{% endif %}
              {% if site.booklog %}<li>{% include icon/book.html title="Booklog" %}</li>{% endif %}
            </ul>
          </div>
          <div class="footer-col footer-col-3">
            <p>{% if page.url == "/" or page.url == site.about or page.url == site.booklog or page.url == site.quotes %}{{ site.description }}{% else %}{{ site.description | replace_first: site.title, site.subtitle }}{% endif %}</p>
          </div>
        </div>
      </div>
    </footer>