/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Border-bottom
 */
h1, h2, h3, h4 {
  color: #000;
  border-bottom: 1px solid #d3d3d3;
}



/**
 * Fonts
 */
@font-face {
  font-family: 'Underwater Love';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;src: local('Underwater Love'), url(/assets/fonts/ulove.woff2) format('woff2');
}

a.site-title, a.blog-title {
  font-family: 'Underwater Love', sans-serif;
  font-display: fallback;
}

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(/assets/fonts/gloriahallelujah.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div.post-information, blockquote.profile {
  font-family: 'Gloria Hallelujah', sans-serif;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

img.border {
    border: 0.2em solid #e0dfcc;
    border-radius: 0.8em;
}

img#center {
    display: block;
    margin: auto;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links: blue, gray
 */
a {
    color: darken($brand-color, 20%);
    text-decoration: none;

    &:hover {
        color: darken($grey-color, 20%); // $text-color
        text-decoration: none; // underline
    }
}

/* header, blog page profile title: gray, garnet */
header.site-header a, blockquote.profile h2 a {
    color: $grey-color-dark;

    &:hover {
        color: $garnet-color;
    }
}

/* footer, home page post title: black, garnet */
footer.site-footer a, a.post-link {
    color: $text-color;

    &:hover {
        color: $garnet-color;
    }
}

/* archive page years, category page contents, tags page tagcloud: black (underline) */
blockquote#years a, blockquote#contents a, blockquote#tagcloud a {
    color: $text-color;
    text-decoration: underline;
}

/* post attribute: garnet, gray */
a.category, a.readmore, a.tag, a.author, a.license, blockquote.profile a {
    color: $garnet-color;

    &:hover {
        color: darken($grey-color, 20%);
    }
}

/* post content: black (underline), gray (underline) */
article.post div.post-content a {
    color: $text-color;
    text-decoration: underline;

    &:hover {
        color: darken($grey-color, 20%);
        text-decoration: underline;
    }
}

/* post blockquote: black (dotted), garnet (solid) */
article.post div.post-content blockquote a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px dotted;

    &:hover {
        color: $garnet-color;
        text-decoration: none;
        border-bottom: 1px solid;
    }
}



/**
 * Blockquote
 */
blockquote {
    background-color: #f5f2f0;
    border: 0.2em solid #e0dfcc;
    border-radius: 0.8em;
    padding: 10px 10px;

    > :last-child {
        margin-bottom: 0;
    }
}

blockquote.profile {
    background-color: transparent;
    border: 2px solid #e0dfcc;
}



/**
 * Document information
 */
div.post-information {
  background-color: #eef;
  border: 0.2em solid #e0dfcc;
  border-radius: 0.8em;
  padding: 10px 10px;
}



/**
 * Remove abbr border-bottom dotted: Document information post-date
 */
abbr {
    text-decoration: none;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f7f2f0; // #eef
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Table
 */
table, th, article.post td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px;
}
