          <!-- IntenseDebate Imagine better comments. -->
          <script>
          var idcomments_acct = '{{ site.site_acct }}';
          var idcomments_post_id = '{{ page.id }}';
          var idcomments_post_url = '{{ page.url | absolute_url }}';
          var idcomments_post_title= '{{ page.title | xml_escape }}';
          </script>
          <span id="IDCommentsPostTitle" style="display:none"></span>
          <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>