          <!-- Post information -->
          <blockquote class="post-information">
            <h2>文档信息</h2>
            <ul>
              <li><strong>本文作者：</strong><a href="{{ site.about }}" title="{{ site.author }}">{{ page.author }}</a></li>
              <li><strong>发表日期：</strong><abbr title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%m月%d日" }}</abbr></li>
              <li><strong>版权声明：</strong><a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" title="(CC) BY-NC-ND 4.0">知识共享 署名-非商业性使用-禁止演绎 4.0 国际 许可协议</a></li>
              <li><strong>更多内容：</strong><a href="{{ site.category }}#{{ page.category }}">{{ page.category }}</a></li>
            </ul>
          </blockquote>