            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="float:right">
              <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            </div>
            <script>
              var a2a_config = a2a_config || {};
              a2a_config.prioritize = ["facebook", "twitter", "renren", "sina_weibo", "douban", "wechat", "qzone", "skype", "telegram", "whatsapp", "line", "kakao", "email", "google_gmail", "printfriendly", "google_bookmarks"];
              a2a_config.locale = "zh-CN";
              a2a_config.num_services = 16;
            </script>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->