---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}
      {% if page.url == '/archive.html' %}
        {% include google_search.html %}
      {% endif %}
      {% if page.url == '/about.html' %}
	  <a class="page-link" href="{{ site.resume | prepend: site.baseurl }}" title="CV" style="color:black" >{% include icon-link.svg %}</a>
      {% endif %}
    </h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
