---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include icon/calendar.html %}{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"> | {% include icon/user-alt.html %}{{ page.author }}</span></span>{% endif %}
        <span id="busuanzi_container_page_pv"> | {% include icon/eye.html %}<span id="busuanzi_value_page_pv"></span> views</span>
		<span class="post-count"> | {% include icon/edit.html %}{{ page.content | strip_html | strip_newlines | remove: " " | size }} words</span>
		<span> | {% include icon/book-open.html %}≈ {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} min</span>
		<span> | {% include icon/tags.html %}{% for tag in page.tags %}<a href="/tags.html#{{ tag }}-ref">{{ tag | prepend: " " }}</a>{% endfor %}</span>
      </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.doc_info %}
    {% include postinfo.html %}
  {% endif %}

  {% if site.intensedebate_comments %}
    {% include comments.html %}
  {% endif %}

</article>
